@model IEnumerable<ProjetoControle.Models.ParkingControl>

@{
    ViewData["Title"] = "Controle Estacionamento";
}

<h1>Controle Estacionamento</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Placa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataEnt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataSai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeEnt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeSai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duracao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeCobr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorPag)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Placa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataEnt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataSai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeEnt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeSai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duracao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeCobr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorPag)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
